@page "/login"
<PageTitle>Login | @ApplicationConstants.LibraryName</PageTitle>
@layout AuthLayout
@attribute [AllowAnonymous]
@layout AuthLayout
<EditForm Model="requestModel" OnValidSubmit="SubmitAsync">
    <FluentValidationValidator />
    <div class="d-flex justify-center">
        <MudIcon Icon="@Icons.Custom.Brands.MicrosoftAzure" Color="Color.Primary" Size="Size.Large" Style="width: 100px; height: 100px;" />
    </div>
    <div class="d-flex justify-center">
        <MudText Typo="Typo.h5">Login to @ApplicationConstants.LibraryName!</MudText>
    </div>
    <MudDivider Class="my-8" />
    <MudGrid>
        <DataAnnotationsValidator />
        <MudItem xs="12">
            <MudTextField Margin=Margin.Dense Label="UserName" Variant="Variant.Outlined" @bind-Value="requestModel.UserName" For="(() => requestModel.UserName)" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Margin=Margin.Dense Label="Password" Variant="Variant.Outlined" @bind-Value="requestModel.Password" For="(() => requestModel.Password)" InputType="_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-center">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width: 100%;">Sign In</MudButton>
        </MudItem>
    </MudGrid>
    <MudDivider Class="my-8" />
    <div class="d-flex justify-center">
        <MudLink Href="/account/forgot-password" Typo="Typo.body1">Forgot Password?</MudLink>
    </div>
</EditForm>