@page "/account/forgot-password"
@inject IUserHttpClient userHttpClient
@inject NavigationManager navigationManager

@attribute [AllowAnonymous]
@layout AuthLayout

<PageTitle>Forgot Password | @ApplicationConstants.LibraryName</PageTitle>

<EditForm Model="requestModel" OnValidSubmit="SubmitAsync">
    <FluentValidationValidator @ref=_fluentValidationValidator />
    <div class="d-flex justify-center">
        <MudText Typo="Typo.h5">Forgot Password</MudText>
    </div>
    <MudDivider Class="my-4" />
    <div class="d-flex justify-center">
        <MudText Typo="Typo.body1">A Password reset link will be sent to your email address</MudText>
    </div>
    <MudGrid Class="mt-4">
        <DataAnnotationsValidator />
        <MudItem xs="12">
            <MudTextField Margin=Margin.Dense Label="Email Address" Variant="Variant.Outlined" @bind-Value="requestModel.Email" For="(() => requestModel.Email)" />
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-center">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width: 100%;">Send Reset Link</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>